<div class="container">
    <div class="row app-store mt-4 mb-4">
        <div class="col-md-3 col-sm-12">
            <img src="/img/google-play.png" alt="googlePlay" />
        </div>
        <div class="col-md-3 col-sm-12">
            <img src="/img/app-store.png" alt="appStore" />
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>
                <span>طريقة جديدة لتجهيز طلباتك</span> <br />
                أكتشف الأن التجربة بنفسك على تطبيق Ready-Sa 
            </h3>
        </div>
    </div>
</div>